<ng-container *ngIf="featured">
  <div class="hero" [style.backgroundImage]="'url(' + featured.imageUrl + ')'">
    <div class="overlay">
      <h1>{{ featured.title }}</h1>
      <p>{{ featured.content }}</p>
      <button
        mat-raised-button
        color="primary"
        routerLink="/article/{{ featured.id }}"
      >
        Olvasd el
      </button>
    </div>
  </div>
</ng-container>

<div class="section-title">
  <h2>Friss cikkek</h2>
</div>

<div class="grid">
  <mat-card class="article-card" *ngFor="let article of articles">
    <div class="image-container">
      <img mat-card-image [src]="article.imageUrl" />
      <div class="date-overlay">
        {{ article.createdAt.toDate() | date : "yyyy. MMMM dd." }}
      </div>
    </div>
    <mat-card-content>
      <h3>{{ article.title }}</h3>
      <p>{{ article.content }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a [routerLink]="'/article/' + article.id">
        <button mat-button color="accent">Részletek</button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
