<div class="team-card-container">
  <app-team-card
    [engine]="'MERCEDES'"
    [teamName]="'McLaren'"
    [drivers]="['Lando Norris', 'Oscar Piastri']"
    [points]="78"
    [position]="1"
    [imageUrl]="'/mclaren.jpg'"
    [logoUrl]="'/mclaren-logo.png'"
    [colorClass]="'mclaren-theme'"
  ></app-team-card>

  <app-team-card
    [engine]="'MERCEDES'"
    [teamName]="'Mercedes AMG F1 team'"
    [drivers]="['George Russell', 'Kimi Antonelli']"
    [points]="57"
    [position]="2"
    [imageUrl]="'/mercedes.jpg'"
    [logoUrl]="'/mercedes-logo.png'"
    [colorClass]="'mercedes-theme'"
  ></app-team-card>

  <app-team-card
    [engine]="'HONDA RBTP'"
    [teamName]="'RedBull Racing'"
    [drivers]="['Max Verstappen', 'Yuki Tsunoda']"
    [points]="36"
    [position]="3"
    [imageUrl]="'/redbull.jpg'"
    [logoUrl]="'/redbull-logo.JPG'"
    [colorClass]="'redbull'"
  ></app-team-card>

  <app-team-card
    [engine]="'MERCEDES'"
    [teamName]="'Williams'"
    [drivers]="['Carlos Sainz Jr', 'Alexander Albon']"
    [points]="17"
    [position]="4"
    [imageUrl]="'/williams.jpg'"
    [logoUrl]="'/williams-logo.JPG'"
    [colorClass]="'Williams'"
  ></app-team-card>

  <app-team-card
    [engine]="'Ferrari'"
    [teamName]="'Ferrari'"
    [drivers]="['Lewis Hamilton', 'Charles Lecrec']"
    [points]="17"
    [position]="5"
    [imageUrl]="'/ferrari.jpg'"
    [logoUrl]="'/ferrari-logo.JPG'"
    [colorClass]="'ferrari'"
  ></app-team-card>

  <app-team-card
    [engine]="'Ferrari'"
    [teamName]="'Haas F1'"
    [drivers]="['Esteban Ocon', 'Oliver Bearman']"
    [points]="14"
    [position]="6"
    [imageUrl]="'/haas.jpg'"
    [logoUrl]="'/haas-logo.JPG'"
    [colorClass]="'haasf1'"
  ></app-team-card>

  <app-team-card
    [engine]="'Mercedes'"
    [teamName]="'Aston Martin F1 Team'"
    [drivers]="['Fernando Alonso', 'Lance Stroll']"
    [points]="10"
    [position]="7"
    [imageUrl]="'/astonmartin.jpg'"
    [logoUrl]="'/astonmartin-logo.JPG'"
    [colorClass]="'astonmartin'"
  ></app-team-card>

  <app-team-card
    [engine]="'Ferrari'"
    [teamName]="'Stake F1 team'"
    [drivers]="['Nico Hulkenberg', 'Gabriel Bortoleto']"
    [points]="6"
    [position]="8"
    [imageUrl]="'/stake.jpg'"
    [logoUrl]="'/stake-logo.JPG'"
    [colorClass]="'ferrari'"
  ></app-team-card>

  <app-team-card
    [engine]="'Honda RBTP'"
    [teamName]="'Racing Bulls'"
    [drivers]="['Isack Hadjar', 'Liam Lawson']"
    [points]="3"
    [position]="9"
    [imageUrl]="'/rb.jpg'"
    [logoUrl]="'/rb-logo.jpg'"
    [colorClass]="'racingbulls'"
  ></app-team-card>

  <app-team-card
    [engine]="'Renault'"
    [teamName]="'Alpine F1 team'"
    [drivers]="['Pierre Gasly', 'Jack Doohan']"
    [points]="0"
    [position]="10"
    [imageUrl]="'/alpine.JPG'"
    [logoUrl]="'/alpine-logo.JPG'"
    [colorClass]="'alpine'"
  ></app-team-card>
</div>
