<div class="team-page-container">
  <ng-container *ngIf="teams$ | async as teams">
    <ng-container *ngIf="role$ | async as role">
      <div class="admin-controls" *ngIf="role === 'admin'">
        <button mat-raised-button color="primary" (click)="openAddDialog()">
          <mat-icon>add</mat-icon>
          Új csapat hozzáadása
        </button>
      </div>
    </ng-container>

    <div class="team-card-container">
      <ng-container *ngFor="let team of teams">
        <app-team-card
          [engine]="team.engine"
          [teamName]="team.teamName"
          [drivers]="team.drivers"
          [points]="team.points"
          [position]="team.position"
          [imageUrl]="team.imageUrl"
          [logoUrl]="team.logoUrl"
          [colorClass]="team.colorClass"
          [isAdmin]="(role$ | async) === 'admin'"
          [team]="team"
          (edit)="openEditDialog($event)"
          (delete)="deleteTeam($event)"
        ></app-team-card>
      </ng-container>
    </div>
  </ng-container>
</div>
